 <ion-header style="background-color: white;">
  <!-- <ion-toolbar> -->
    <!-- <ion-title>hito-traitement</ion-title> -->
    <h4>TOUS MES TRAITEMENTS</h4>
  <!-- </ion-toolbar> -->
</ion-header> 

<ion-content>
  <div class="cardd">
    <div class="fix">


<div class="logo">
  <img src="../assets/prise.png" alt="">
</div>

<div class="text-center" style="margin-left: 60%; padding-top: 2%;" >
  <button class="btn btn-success" style="padding:2%; margin-bottom: 10%;" routerLink="/tabs/traitement">+ Nouveau</button>
</div>
</div>
<ion-icon name="arrow-undo-outline" routerLink="/tabs/ajout" style="color: #149B54; font-size: 150%; margin-left: 3%; "></ion-icon>
<ion-card style="background-color: white; border-color: black; border: 5px;" *ngFor="let onetraitement of sestraitements">
  <ion-card-header >
    <ion-card-title style="color: black;  font-family: 'Times New Roman', Times, serif;" >{{onetraitement.nom_medoc}}</ion-card-title>
   
    <!-- <ion-card-subtitle>Motif</ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content style="color: black;" >
    <h3>{{onetraitement.date_debut}}</h3>
    <h3>{{onetraitement.date_fin}}</h3>
<br>
<!-- <button type="button" class="adpd" data-bs-toggle="modal"  data-bs-target="#supprimer" (click)="openModal(onetraitement.nom_medoc, onetraitement.id_traitement)"> -->
  <ion-icon style="color: red;" (click)="effacerTrait(onetraitement.id_traitement)"  name="trash-outline"></ion-icon>
   
<!-- </button> -->
   
    <ion-icon name="create-outline" [routerLink]="['/modif-traitement', onetraitement.id_traitement]"></ion-icon>

  </ion-card-content>
</ion-card>

</div>
</ion-content>
