<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <h1 routerLink="/tabs/accueil">inscrire </h1> -->
<div class="fontt">
  <div class="logo">
    <img src="../assets/doc.png" alt="">
  </div>
  <h3>VEUILLEZ REMPLIR TOUS LES CHAMPS </h3>
  <div class="connexion">

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label">Nom et Prenom</span><br>
      <input type="text" placeholder="Votre nom">
    </label>

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label">Email</span><br>
      <input type="email" placeholder="Votre email">
    </label>

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label ">Numero</span><br>
      <input type="text" placeholder="Votre numero">
    </label>
  

    <label class="item item-input item-stacked-label mb-4">
      <span class="input-label">Mot de passe</span><br>
      <input type="password" placeholder="votre password">
    </label>
  </div>
  <div class="text-center" >
    <button class="btn btn-success">Se connecter</button>
  </div>
  <i class="bi bi-arrow-return-left" style="color: #149B54;"></i>
  </div>
</ion-content>
