<ion-header>
  <ion-toolbar>
    <ion-title>Rdv</ion-title>
  </ion-toolbar>
</ion-header>



<div class="cont">
  <h3>VEUILLEZ REMPLIR TOUS LES CHAMPS </h3>
  <img src="../assets/l.png" alt="" class="logo">


  <ion-card class="car bg-white">

    <div class="cont">

  <label class="item item-input item-stacked-label xs-12">
    <span class="input-label">Service medical</span><br>
    <input type="text" placeholder="Le nom du medicament">
  </label><br>

  <label class="item item-input item-stacked-label mb-4">
    <span class="input-label">Motif du rendez-vous</span><br>
    <input type="text" placeholder="Donnez le motif du rdv">
  </label>

  <label class="item item-input item-stacked-label mb-4">
    <span class="input-label">Date du rendez-vous</span><br>
    <input type="date" placeholder="Specifier la date">
  </label>
</div>
</ion-card>
  <div class="text-center" >
    <button class="btn btn-success">Ajouter</button>
  </div>
</div>



<ion-content>

</ion-content>
