 <!-- <ion-header> -->
  <!-- <ion-toolbar> -->
    <!-- <ion-title>Rdv</ion-title> -->
  <!-- </ion-toolbar> -->
<!-- </ion-header> -->

<ion-header style="background-color: white;">
  <!-- <ion-toolbar> -->
    <h4>VEUILLEZ REMPLIR TOUS LES CHAMPS </h4>
    <!-- <ion-title>Traitement</ion-title> -->
  <!-- </ion-toolbar> -->
</ion-header>



<div class="cont">
  <!-- <h4>VEUILLEZ REMPLIR TOUS LES CHAMPS </h4> -->
  <img src="../assets/l.png" alt="" class="logo">


  <ion-icon name="arrow-undo-outline" routerLink="/historique" style="color: #149B54; font-size: 150%; margin-right:80%;  "></ion-icon>
  <ion-card class="car bg-white;" style=" background-color: white; margin-top: 5%; padding-bottom: -30%;padding-left: 12%; padding-right: 12%; padding-top: 10%;">


    
    <div class="cont" style="margin-top: -10%;">
     
<!-- <div *ngIf="erreur">
  {{erreur}}
</div> -->


<!-- alert erreur ou succes popop -->

<div *ngIf="erreur" class="alert alert-success" role="alert">
  <strong>{{erreur}}</strong>
</div>

      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <label class="item item-input item-stacked-label xs-12">
    <span class="input-label">Service medical</span><br>
    <input type="text" placeholder="Service medical" name="service_medical"
    [(ngModel)]="form.service_medical"
     required 
     #service_medical="ngModel">
  </label><br>
  <br>

  <label class="item item-input item-stacked-label mb-4" style="margin-top: -7%;">
    <span class="input-label">Motif du rendez-vous</span><br>
    <input type="text" placeholder="Donnez le motif du rdv" name="motif"
    [(ngModel)]="form.motif"
    required
    #motif="ngModel">
  </label>
<br>
  <label class="item item-input item-stacked-label mb-4" style="margin-top: -8%; margin-left: 2%;">
    <span class="input-label">Date du rendez-vous</span><br>
    <input type="date" placeholder="Specifier la date" name="daterdv"
    [(ngModel)]="form.daterdv"
    required
    #daterdv="ngModel">
  </label>
<br>
  <label class="item item-input item-stacked-label mb-4" style="margin-top: -8%;">
    <span class="input-label">Heure du rendez-vous</span><br>
    <input type="time" placeholder="Specifier h" style="margin-left: 6%;" name="heure"
    [(ngModel)]="form.heure"
    required
    #heure="ngModel">
  </label>
  <div class="text-center" style="margin-bottom: 20%; margin-top: -2%;" >
    <button type="submit" class="btn btn-success">Ajouter</button>
  </div>
  
</form>
</div>
</ion-card>
 
</div>



<ion-content>

</ion-content>
