<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Pharmacien</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<h2>CONTACTS UTILES</h2>

<img src="../assets/ph.png" alt="" class="li">

<ion-card>
  <h6>Dr Adama TRAORE</h6>
  <h6> 00-88-00-88</h6>
  <H6>KALABAN-COURA ACI</H6>
</ion-card>

<ion-card>
  <h6>Dr Adama TRAORE</h6>
  <h6> 00-88-00-88</h6>
  <H6>KALABAN-COURA ACI</H6>
</ion-card>

<ion-card>
  <h6>Dr Adama TRAORE</h6>
  <h6> 00-88-00-88</h6>
  <H6>KALABAN-COURA ACI</H6>
</ion-card>

</ion-content>
