<ion-header>
  <ion-toolbar>
    <ion-title>Pharmacien</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>CONTACTS UTILES</h2>

<img src="../assets/ph.png" alt="" class="li">

<ion-card >
  <h4>Dr. TRAORE : 00-88-00-88</h4>
  <H4>Adresse : KALABAN-COURA ACI</H4>
</ion-card>

<ion-card>
  <h4>Dr. TRAORE : 00-88-00-88</h4>
  <H4>Adresse : KALABAN-COURA ACI</H4>
</ion-card>

<ion-card>
  <h4>Dr. TRAORE : 00-88-00-88</h4>
  <H4>Adresse : KALABAN-COURA ACI</H4>
</ion-card>

</ion-content>
