<ion-header>
  <ion-toolbar>
    <ion-title>Dash-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div>
          <img src="../assets/tout.png" alt="" class="mage" >
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="#">
          <img src="../assets/l.png" alt="" class="nage">
        </div>
        <div class="connexion">
        <label class="item item-input item-stacked-label mb-4">
          <span class="input-label ">Nom et prenom</span><br>
          <input type="text" placeholder="Votre non">
        </label>
      
    
        <label class="item item-input item-stacked-label mb-4">
          <span class="input-label">Mot de passe</span><br>
          <input type="password" placeholder="votre password">
        </label>
        <h6>Mot de passe oublié ?</h6>
      </div>
        <div class="text-center" >
          <button class="btn btn-success">Se connecter</button>
        </div>
  
      </div>

     
    </div>
  </div>
</ion-content>