ion-content{
    --background:#FFF;
    }
    h1{
        font-weight: bold;
        text-align: center;
        color:black;
        font-size: 70px;
    }

    .nage{
        // display: flex;
        height: 520px;
        // justify-content: center;
        // padding-top: -50px;
        margin-top: -50px; 
        padding-left: 150px;  
   }
   .mage{
    height: 360px;
     display: flex;
   }
