<ion-header>
  <ion-toolbar>
    <ion-title>Dash-accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="d-flex justify-content-center">
        
        <img src="../assets/l.png" alt="" class="mage" >
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div>
        <h1>BIENVENUE SUR VITAL</h1>
        <img src="../assets/prise.png" alt="" class="nage">

        <div class="row" >
          <div class="col-6 iii">
          <div class="rd" style="background-color: #149B54;padding: 30px;width: 300px;">
            <h2 class="text-center">4 PHARMACIENS</h2>
          <!-- <ion-icon class="im mx-auto d-block" name="bandage-outline"></ion-icon> -->
          </div>
          </div>
          <div class="col-6 iii" > 
            <div class="rd" style="background-color: #149B54; padding: 30px; width: 300px;">
              <h2 class="text-center">15 UTILISATEURS</h2>
            <!-- <ion-icon class="im mx-auto d-block" name="alarm-outline"></ion-icon> -->
            </div>
            
          </div>
    
    
      </div>
  </div>
</div>
</div>
</ion-content>
