<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <button class="btn btn-success"  style="margin-right: 25%; " (click)="AbasseSchedule()">Ajouter</button> -->
 
 
  <div class="fontt">
    <div class="logo">
      <img src="../assets/log.png" alt="">
    </div>
    <!-- <ion-toggle [(ngModel)]="resume"></ion-toggle>
    <a href="/notification">dsfgyhjkl</a> -->
    <h6>VEUILLEZ VOUS CONNECTER A VOTRE COMPTE</h6>
    <div class="ad"><img src="../../assets/l.png" style="width: 15%; " alt=""></div>

    <div class="connexion" style="margin-left: 20%;">  
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    
      <div class="icons">
        <ion-icon name="person-circle-outline" style="color: #0FA958; margin-left: -25%; margin-right: 4%;  font-size: 160%;  " ></ion-icon>
      <label class="item item-input item-stacked-label mb-4">
         
         <input type="text" placeholder="Votre pseudo" name="username"
        [(ngModel)]="form.username"
         required
          #username="ngModel">
         </label>

        </div>
         <div
            class="alert alert-danger col-md-6"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
           Nom d'utilisateur est obligatoire !
          </div>
  
          <ion-icon name="key-outline" style="color: #0FA958;font-size: 160%; margin-left: -25%; margin-right: 4%;"></ion-icon>
      <label class="item item-input item-stacked-label mb-4">
        
        <input type="password"  placeholder="Votre password" name="password" [(ngModel)]="form.password" required minlength="6"  #password="ngModel">
      </label>
      
      <div class="alert alert-danger  col-md-6"
      role="alert"
      *ngIf="password.errors && f.submitted">
      <div *ngIf="password.errors">Mot de passe est obligatoire !</div>
      <div *ngIf="password.errors">
       6 caractères au minimum
      </div>
    </div>

      <div class="text-center" >
        <button type="submit" class="btn btn-success" style="padding: 1%; margin-right: 25%;" (click)="onSubmit()" >se connecter</button>
      </div>

        </form>

    </div>
  
<div class="juste">
    <h5 routerLink="/inscription" >Creer un nouveau compte</h5>
  </div>
    <!-- <h6 style="text-align: center;">OU</h6>
    <div class="text-center" >
      <button class="btn btn-success"routerLink="/inscription" style="padding: 1%;margin-left: 5%;">Creer un compte</button>
    </div> -->
  </div>
 

</ion-content>


