<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fontt">
    <div class="logo">
      <img src="../assets/log.png" alt="">
    </div>
    <h3>VEUILLEZ VOUS CONNECTER A VOTRE COMPTE</h3>
    <div class="connexion">
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Nom et Prenom</span><br>
        <input type="text" placeholder="Votre pseudo">
      </label>
    
      
      <!-- <label class="item item-input item-stacked-label mb-4">
        <span class="input-label ">Numero</span><br>
        <input type="text" placeholder="Votre numero">
      </label> -->
    
  
      <label class="item item-input item-stacked-label mb-4">
        <span class="input-label">Mot de passe</span><br>
        <input type="password" placeholder="votre password">
      </label>
    </div>
    <div class="text-center" >
      <button class="btn btn-success">se connecter</button>
    </div>
    
    <h6 style="text-align: center;">OU</h6>
    <div class="text-center" >
      <button class="btn btn-success"routerLink="/inscription">Creer un compte</button>
    </div>
  </div>
</ion-content>


