ion-content{
    --background:#FFF;
    }
    ion-title{
        background-color: #FFF;
    }
    // strong{
    //     margin-top: 100%;
    // }
    h6{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }