ion-content{
    --background:#FFF;
    }
    h3{
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    h1{
        color:black;
        text-align: center;
        font-weight: bold;
        // margin-top: 50px;
    }

    .trait{
        height: 100px;
        width: 300px;
    }
    .rdv{
        height: 100px;
        width: 300px;
    }