// .fontt{
//     background-color: white;
// }
.logo{
   
    display: flex;
    height: 300px;
    justify-content: center;
    padding-top: 10%;

}
h2{
    text-align: center;
    color: black;
    margin-top:1%;
    
    // border: 10px;
    // border-color: #149B54;
}
h1{
    text-align: center;
    font-weight:bold;
    color: black;
    padding-bottom: 40px;
    margin-top: 5%;
    font-size: 90px;
}
.text-center{
    padding-top: 30px;
}

ion-content{
// --background:#FFF;
background-color: #FFF;
}
ion-content{   
    // ICI ON BLOCK LE SCROLLING    
     --offset-bottom: auto!important;  
        background: #F8F6FB;  
         --overflow: hidden;  
          overflow: auto; 
            &::-webkit-scrollbar { 
                  display: none;   } }

                  ion-title{
                    background-color: #FFF;
                  }
                  