// .fontt{
//     background-color: white;
// }
.logo{
   
    display: flex;
    height: 300px;
    justify-content: center;
    padding-top: 30px;

}
h2{
    text-align: center;
    color: black;
}
h1{
    text-align: center;
    font-weight:bold;
    color: black;
    padding-bottom: 40px;
    font-size: 90px;
}
.text-center{
    padding-top: 50px;
}

ion-content{
--background:#FFF;
}