.fontt{
    background-color: white;
}
.logo{
   
    display: flex;
    height: 180px;
    justify-content: center;
    padding-top: 30px;

}
h2{
    text-align: center;
    color: black;
}
h1{
    text-align: center;
    font-weight: bold;
    color: black;
}
.text-center{
    padding-top: 50px;
}