<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="background-color: white;">

  <div class="fontt">
    <div class="logo"> <img src="../assets/l.png" alt=""> </div>
   
 
    <ion-toggle [(ngModel)]="resume"></ion-toggle>
    <a href="/notification">Activer</a>

  <h1>VITAL</h1>

  <h6>BIENVENUE SUR VOTRE APPLICATION DE SUIVI </h6>
<div class="text-center">
  <button style="margin-right: 3%;" class="btn btn-success" routerLink="/connexion" (click)="ert()">COMMENCER</button>
</div>
</div>
</ion-content>
