.logo{
   
    display: flex;
    height: 180px;
    justify-content: center;
    padding-top: 30px;

}
.fontt{
    background-color: white;
}
h3{
    text-align: center;
    padding-top: 40px;
    color: black;
    font-weight: bold;
}
.text-center{
    padding-top: 40px;
}
h6{
    color: black;
}