<ion-header>
  <ion-toolbar>
    <ion-title>Ajout</ion-title>
    <ion-icon name="exit-outline"></ion-icon>
    <ion-icon name="notifications-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
<div>
  <!-- <ion-icon name="exit-outline"></ion-icon> -->
 
  
  <h6>DECONNEXION</h6>
  <ion-icon name="notifications-outline"></ion-icon>
</div>

  
  <div class="fontt">
    <ion-icon name="exit-outline"></ion-icon>
    
    <div class="">
      <img class="oh" src="../assets/tout.png" height="40px" alt="">
    </div>
    <!-- <h3>Ajouter </h3> -->
    <div class="row" >
      <div class="col-6 iii">
      <div class="rd">
        <h2 class="text-center">TRAITEMENT</h2>
      <ion-icon class="im mx-auto d-block" name="bandage-outline"></ion-icon>
      </div>
      </div>
      <div class="col-6 iii" > 
        <div class="rd">
          <h2 class="text-center">RENDEZ-VOUS</h2>
        <ion-icon class="im mx-auto d-block" name="alarm-outline"></ion-icon>
        </div>
        
      </div>


    </div>
   
   
  </div>
</ion-content>
