<ion-header>
  <ion-toolbar>
    <ion-title>Ajout</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fontt">
    <div class="logo">
      <img src="../assets/t.png" alt="">
    </div>
    <h3>Ajouter </h3>
    
    <div class="text-center" >
      <button class="btn btn-success">TRAITEMENT</button>
    </div>
    
    <h6 style="text-align: center; padding-top: 2PX;">OU</h6>
    <div class="text-center" >
      <button class="btn btn-success"routerLink="/inscription">RENDEZ-VOUS</button>
    </div>
  </div>
</ion-content>
